---
layout: base.njk
title: About
---

<div class="about">
    <h1 class="heading">About {{ site.artistName }}</h1>
    
    <div class="about-container container">
        <div class="about-text">
            <h2>The Philosophy</h2>
            <p>{{ site.aboutPhilosophy.paragraph1 }}</p>
            
            <p>{{ site.aboutPhilosophy.paragraph2 }}</p>
            
            {% if site.hasYoutubeSeries %}
            <h2>Why {{ site.youtubeSeriesName }}?</h2>
            <p>{{ site.aboutYoutubeSeries }}</p>
            {% endif %}
            
            <p>{{ site.aboutPhilosophy.paragraph3 }}</p>
        </div>
        
        {% if site.aboutVideoId %}
        <div class="about-video">
            <div class="video-container about-video-container">
                <iframe 
                    src="https://www.youtube.com/embed/{{ site.aboutVideoId }}" 
                    title="{{ site.artistName }} - Painting Philosophy" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" 
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        {% endif %}
    </div>

    {% if site.hasYoutubeSeries %}
    <div class="about-invitation">
        <h2 class="heading">An Invitation</h2>
        <p>{{ site.aboutInvitation.paragraph1 }}</p>
        <p>{{ site.aboutInvitation.paragraph2 }}</p>
    </div>
    {% endif %}
</div>
