---
permalink: /
layout: base.njk
isHomepage: true
---

<section class="hero section">
  <div class="hero-container container">
    <img
      class="hero-image"
      src="/.netlify/images?url={{ site.heroImage }}&w=800&q=80"
      alt="{{ site.heroImageAlt }}"
    />
    <div class="hero-info">
      <h1 class="hero-title">{{ site.artistName }}</h1>
      <p class="hero-text">{{ site.tagline }}</p>
    </div>
  </div>
</section>

{% if site.hasYoutubeSeries %}
<section class="painting-therapy section">
  <h2 class="painting-therapy-heading heading">
    Painting <br />
    <span>THERAPY</span>
  </h2>
  <div class="painting-therapy-container container">
    <p class="painting-therapy-text">
      <span class="highlighted-text">Painting</span> can be therapeutic
      to watch. <br />
      {{ site.bio }}
    </p>
    <h3 class="latest-episode-title">Latest Episode</h3>
    <div class="video-container latest-episode-container">
      <iframe
        src="https://www.youtube.com/embed/{{ site.latestYoutubeVideoId }}?si=ZIEObV_ABPPcrSpQ"
        title="YouTube video player"
        frameborder="0"
        allow="
          accelerometer;
          autoplay;
          clipboard-write;
          encrypted-media;
          gyroscope;
          picture-in-picture;
          web-share;
        "
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <a 
    class="youtube-channel-btn btn-primary"
    href="{{ site.social.youtube }}"
    target="_blank"
    rel="noopener noreferrer">
      Free weekly episodes on YouTube!
    </a>
  </div>
</section>
{% endif %}

<section class="featured-art section">
  <h2 class="featured-art-heading heading">From the Studio</h2>
  <div class="painting-grid container">
    {% for painting in collections.paintings | reverse %}
      {% if loop.index <= 4 %}
        <div class="painting-card">
          <img
            class="painting-img"
            src="/.netlify/images?url={{ painting.data.image }}&w=800&q=80"
            alt="{{ painting.data.title }}"
            loading="lazy"
          />
          <div class="painting-card-info">
            <h3 class="painting-title">{{ painting.data.title }}</h3>
            <p class="painting-price">${{ painting.data.price }}</p>
          </div>
          <a href="{{ painting.url }}" class="featured-art-btn btn-secondary">View Details</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <a href="../gallery/" class="btn-primary">View More</a>
</section>

<section class="cards section">
  <h2 class="card-heading heading">More than just paintings</h2>
  <div class="card-container container">
    {% for card in site.cards %}
    <div class="card">
      <img
        class="card-img"
        src="/.netlify/images?url={{ card.image }}&w=400&q=80"
        alt="{{ card.title }}"
        loading="lazy"
      />
      <h5 class="card-title">{{ card.title }}</h5>
      <p class="card-text">{{ card.text }}</p>
    </div>
    {% endfor %}
  </div>
</section>

<section class="faq section">
  <h2 class="faq-heading heading">Frequently Asked Questions</h2>
  <div class="faq-container container">
    <div class="faq-question">
      <h5 class="faq-question-title">Q. What is {{ site.youtubeSeriesName }}?</h5>
      <p class="faq-question-answer">
        {{ site.youtubeSeriesDescription }}
      </p>
    </div>

    <div class="faq-question">
      <h5 class="faq-question-title">Q. Do you ship internationally?</h5>
      <p class="faq-question-answer">
        {% if site.shipsInternationally %}
          Yes! We do ship internationally!
        {% else %}
          Currently we only ship within the US.
        {% endif %}
      </p>
    </div>

    <div class="faq-question">
      <h5 class="faq-question-title">
        Q. Can I get commission on a custom painting?
      </h5>
      <p class="faq-question-answer">
        {% if site.doesCommissions %}
          Yes! We do commission works!
        {% else %}
          Not at this time, but please check back in the future.
        {% endif %}
      </p>
    </div>

    <div class="faq-question">
      <h5 class="faq-question-title">Q. Will my paintings be signed?</h5>
      <p class="faq-question-answer">
        {% if site.signsAllPaintings %}
          Yes! All of our paintings are signed by {{ site.artistName }}.
        {% else %}
          Paintings can be signed upon request.
        {% endif %}
      </p>
    </div>

    <div class="faq-question">
      <h5 class="faq-question-title">Q. How long does shipping take?</h5>
      <p class="faq-question-answer">
        Shipping usually takes {{ site.shippingTime }}.
      </p>
    </div>
  </div>
</section>
